In [1]:
import pandas as pd
import numpy as np
from collections import deque

In [2]:
df = pd.read_csv(
    "C:/JURE_SNOJ/forex_gym/forex_gym_env/dataset/crypto/BTCUSD_M5.csv",
    sep= ",",
    header = None,
    names = ["date", "open", "high", "low", "close", "volume"]
)

In [3]:
df["date"] = pd.to_datetime(df["date"])
df['200_EMA'] = df.iloc[:,1].ewm(span=200,adjust=True).mean()
df['50_EMA'] = df.iloc[:,1].ewm(span=50,adjust=True).mean()
df['9_EMA'] = df.iloc[:,1].ewm(span=9,adjust=True).mean()

In [4]:
EMA26 = df.iloc[:,1].ewm(span=26,adjust=True).mean()
EMA12 = df.iloc[:,1].ewm(span=12,adjust=True).mean()
df["MACD-diff"] = EMA12 - EMA26
df["MACD-signal"] = df["MACD-diff"].ewm(span=9,adjust=True).mean()

In [5]:
L14 = df.loc[:,"low"].rolling(window=14).min()
H14 = df.loc[:,"high"].rolling(window=14).max()
C = df.loc[:, "close"]
df["stochastic"] = 100* (C - L14)/(H14 - L14)

In [7]:
df.tail()

,date,open,high,low,close,volume,200_EMA,50_EMA,9_EMA,MACD-diff,MACD-signal,stochastic
199995,2020-06-23 23:35:00,9555.9,9558.9,9554.8,9558.4,3,9579.913995,9577.641854,9558.049038,-8.495461,-8.287108,29.431438
199996,2020-06-23 23:40:00,9557.8,9558.3,9544.8,9546.9,1,9579.693956,9576.863742,9557.999230,-8.038824,-8.237451,20.469799
199997,2020-06-23 23:45:00,9546.8,9554.7,9545.8,9554.1,1,9579.366653,9575.684772,9555.759384,-8.466942,-8.283349,44.630872
199998,2020-06-23 23:50:00,9554.2,9561.3,9554.1,9560.9,2,9579.116238,9574.842232,9555.447507,-8.115559,-8.249791,85.897436
199999,2020-06-23 23:55:00,9561.0,9566.1,9560.9,9565.9,2,9578.935977,9574.299399,9556.558006,-7.205325,-8.040898,99.061033

In [ ]:
state_iter = df.iterrows()
state = next(state_iter)[1]
print(state)

In [ ]:
states = deque(maxlen = 60)

In [ ]:
for i in range(60):
    state = next(state_iter)[1]
    states.append(state)

In [ ]:
states.append([1,2,3,4,5,6])