In [1]:
import pandas as pd
import numpy as np
from collections import deque

In [2]:
df = pd.read_csv(
    "C:/JURE_SNOJ/forex_gym/forex_gym_env/dataset/crypto/BTCUSD_M5.csv",
    sep= ",",
    header = None,
    names = ["date", "open", "high", "low", "close", "volume"]
)

In [3]:
df["date"] = pd.to_datetime(df["date"])
df['200_EMA'] = df.iloc[:,1].ewm(span=200,adjust=True).mean()
df['50_EMA'] = df.iloc[:,1].ewm(span=50,adjust=True).mean()
df['9_EMA'] = df.iloc[:,1].ewm(span=9,adjust=True).mean()

In [4]:
EMA26 = df.iloc[:,1].ewm(span=26,adjust=True).mean()
EMA12 = df.iloc[:,1].ewm(span=12,adjust=True).mean()
df["MACD-diff"] = EMA12 - EMA26
df["MACD-signal"] = df["MACD-diff"].ewm(span=9,adjust=True).mean()

In [5]:
L14 = df.loc[:,"low"].rolling(window=14).min()
H14 = df.loc[:,"high"].rolling(window=14).max()
C = df.loc[:, "close"]
df["stochastic"] = 100* (C - L14)/(H14 - L14)

In [7]:
df.head(30)

,date,open,high,low,close,volume,200_EMA,50_EMA,9_EMA,MACD-diff,MACD-signal,stochastic
0,2017-10-17 06:30:00,5646.1,5650.2,5645.4,5648.0,5,5646.100000,5646.100000,5646.100000,0.000000,0.000000,NaN
1,2017-10-17 06:35:00,5648.3,5670.9,5647.5,5670.9,5,5647.205500,5647.222000,5647.322222,0.049359,0.027422,NaN
2,2017-10-17 06:40:00,5670.9,5674.7,5665.6,5668.8,4,5655.182779,5655.432436,5656.985246,0.763718,0.329182,NaN
3,2017-10-17 06:45:00,5668.9,5675.9,5663.0,5673.7,6,5658.663695,5659.003979,5661.021409,0.997696,0.555644,NaN
4,2017-10-17 06:50:00,5673.8,5679.2,5659.8,5661.2,4,5661.751802,5662.204556,5664.822751,1.298815,0.776720,NaN
5,2017-10-17 06:55:00,5661.2,5663.2,5653.2,5660.7,6,5661.657521,5662.019950,5663.840784,0.916631,0.814644,NaN
6,2017-10-17 07:00:00,5660.9,5670.1,5660.2,5669.7,7,5661.546030,5661.840132,5663.096550,0.642154,0.770991,NaN
7,2017-10-17 07:05:00,5669.7,5678.2,5669.1,5676.1,4,5662.601305,5662.965544,5664.683483,0.866310,0.793898,NaN
8,2017-10-17 07:10:00,5672.6,5676.7,5665.0,5669.3,4,5663.757225,5664.215132,5666.512238,1.152232,0.876675,NaN
9,2017-10-17 07:15:00,5670.3,5680.3,5668.6,5672.3,6,5664.441336,5664.938853,5667.360917,1.219822,0.953560,NaN
10,2017-10-17 07:20:00,5672.4,5675.3,5666.3,5671.7,17,5665.201566,5665.760743,5668.463439,1.363436,1.043238,NaN
11,2017-10-17 07:25:00,5671.0,5678.1,5669.0,5674.7,3,5665.711786,5666.299649,5669.008186,1.373273,1.114116,NaN
12,2017-10-17 07:30:00,5674.7,5677.7,5670.2,5672.2,4,5666.445428,5667.112001,5670.212772,1.571358,1.210884,NaN
13,2017-10-17 07:35:00,5672.0,5673.8,5660.7,5665.6,5,5666.868485,5667.558995,5670.586661,1.542737,1.280308,57.879656
14,2017-10-17 07:40:00,5665.5,5668.6,5660.5,5664.9,3,5666.770729,5667.380052,5669.532229,1.115748,1.246196,53.048780
15,2017-10-17 07:45:00,5665.0,5666.1,5663.4,5663.4,4,5666.651565,5667.182622,5668.599530,0.747403,1.143548,37.638376
16,2017-10-17 07:50:00,5664.3,5664.5,5649.6,5650.7,6,5666.501896,5666.953524,5667.719815,0.413894,0.994256,3.583062
17,2017-10-17 07:55:00,5650.4,5657.3,5649.8,5652.3,5,5665.529294,5665.688835,5664.192306,-0.722994,0.644505,8.794788
18,2017-10-17 08:00:00,5652.2,5655.2,5650.0,5653.9,8,5664.762834,5664.695234,5661.758774,-1.472441,0.214925,14.006515
19,2017-10-17 08:05:00,5654.1,5658.9,5650.3,5657.9,5,5664.177533,5663.940767,5660.209153,-1.908457,-0.214705,27.035831
20,2017-10-17 08:10:00,5658.1,5664.6,5657.4,5662.8,6,5663.858275,5663.537750,5659.783396,-1.957824,-0.566574,42.996743
21,2017-10-17 08:15:00,5663.2,5667.9,5657.3,5659.2,4,5663.825108,5663.515120,5660.471796,-1.630628,-0.780967,31.270358
22,2017-10-17 08:20:00,5659.2,5666.0,5656.4,5660.9,3,5663.601127,5663.233803,5660.215926,-1.629292,-0.951639,36.807818
23,2017-10-17 08:25:00,5660.8,5669.6,5654.7,5664.7,3,5663.470502,5663.079153,5660.333295,-1.499028,-1.061636,52.982456
24,2017-10-17 08:30:00,5665.2,5674.6,5664.3,5672.7,4,5663.548299,5663.210716,5661.310327,-1.074280,-1.064175,81.052632
25,2017-10-17 08:35:00,5673.3,5682.3,5672.7,5677.4,4,5663.972112,5663.822627,5663.715531,-0.162291,-0.883251,85.015291
26,2017-10-17 08:40:00,5677.2,5677.6,5670.8,5673.0,7,5664.528360,5664.616934,5666.418961,0.826613,-0.540449,71.559633
27,2017-10-17 08:45:00,5672.9,5677.8,5672.7,5676.5,4,5664.869449,5665.099038,5667.717681,1.280587,-0.175536,82.262997
28,2017-10-17 08:50:00,5676.3,5681.2,5674.8,5681.2,6,5665.321254,5665.738824,5669.436805,1.864994,0.233202,96.636086
29,2017-10-17 08:55:00,5680.8,5685.0,5673.3,5680.8,4,5665.915495,5666.583971,5671.712261,2.626408,0.712437,88.135593

In [8]:
df.iloc[50:, 1:]

,open,high,low,close,volume,200_EMA,50_EMA,9_EMA,MACD-diff,MACD-signal,stochastic
50,5672.8,5677.1,5667.2,5674.8,32,5669.838657,5671.528899,5674.432417,1.267655,1.447355,78.048780
51,5675.0,5676.6,5663.6,5666.1,21,5669.965313,5671.684448,5674.545934,1.232642,1.404412,42.682927
52,5663.4,5665.2,5654.1,5656.6,8,5669.806521,5671.315267,5672.316731,0.280317,1.179591,9.578544
53,5656.5,5665.2,5641.0,5644.2,8,5669.489201,5670.658563,5669.153367,-1.011258,0.741419,8.163265
54,5643.7,5650.6,5639.2,5643.6,9,5668.882636,5669.469670,5664.062669,-3.018741,-0.010617,10.731707
...,...,...,...,...,...,...,...,...,...,...,...
199995,9555.9,9558.9,9554.8,9558.4,3,9579.913995,9577.641854,9558.049038,-8.495461,-8.287108,29.431438
199996,9557.8,9558.3,9544.8,9546.9,1,9579.693956,9576.863742,9557.999230,-8.038824,-8.237451,20.469799
199997,9546.8,9554.7,9545.8,9554.1,1,9579.366653,9575.684772,9555.759384,-8.466942,-8.283349,44.630872
199998,9554.2,9561.3,9554.1,9560.9,2,9579.116238,9574.842232,9555.447507,-8.115559,-8.249791,85.897436
199999,9561.0,9566.1,9560.9,9565.9,2,9578.935977,9574.299399,9556.558006,-7.205325,-8.040898,99.061033

In [ ]:
state_iter = df.iterrows()
state = next(state_iter)[1]
print(state)

In [ ]:
states = deque(maxlen = 60)

In [ ]:
for i in range(60):
    state = next(state_iter)[1]
    states.append(state)

In [ ]:
states.append([1,2,3,4,5,6])