In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(
    "EURUSD1.csv",
    sep= "\t",
    names = ["date", "open", "high", "low", "close", "volume"]
)

In [3]:
df.head()

               date     open     high      low    close  volume
0  2019-11-29 06:11  1.10101  1.10102  1.10097  1.10101      34
1  2019-11-29 06:12  1.10100  1.10101  1.10097  1.10100      80
2  2019-11-29 06:13  1.10099  1.10102  1.10099  1.10100      29
3  2019-11-29 06:14  1.10100  1.10101  1.10100  1.10101      14
4  2019-11-29 06:15  1.10101  1.10105  1.10100  1.10102      18

In [4]:
df["date"] = pd.to_datetime(df["date"])

In [5]:
df["DayOfWeek"] = df["date"].dt.day_name()

In [6]:
df["hour"] = df["date"].dt.hour

In [ ]:
df.iloc[0:1000, 1:]

In [ ]:
df.iloc[::1000, 1:5].plot()

In [ ]:
state = df.iloc[0, 1:]
df.iloc[[0,1],1:]

In [7]:
state_iter = df.itertuples(index=False, name= "State")

In [ ]:
state = next(state_iter)[1:]
list(state)

In [ ]:
df.iloc[99:105]

In [ ]:
for i in range(100):
    _ = next(state_iter)

In [ ]:
state_100 = next(state_iter)
state_100

In [8]:
state = next(state_iter)
state

State(date=Timestamp('2019-11-29 06:11:00'), open=1.10101, high=1.10102, low=1.10097, close=1.10101, volume=34, DayOfWeek='Friday', hour=6)

In [10]:
df.iloc[1]

date         2019-11-29 06:12:00
open                       1.101
high                     1.10101
low                      1.10097
close                      1.101
volume                        80
DayOfWeek                 Friday
hour                           6
Name: 1, dtype: object