In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("A3C/avg_rewards.txt", header = None)
df

        0         1
0     200 -0.004990
1     200 -0.186930
2     200 -0.064255
3     200 -0.238945
4     200 -0.189360
..    ...       ...
194  2600  0.101900
195  2600 -0.026395
196  2600  0.086015
197  2600 -0.389485
198  2600 -0.265593

[199 rows x 2 columns]

In [10]:
sums = df.groupby(0).sum()

In [11]:
print(sums)

             1
0
200  -0.428065
300  -0.361565
400   0.229040
500  -0.561655
600   0.204815
700   0.091475
800   0.117640
900   0.501156
1000 -0.629390
1100  0.404735
1200 -0.727000
1300  1.139015
1400  0.173000
1500 -0.190005
1600  1.450220
1700  0.767395
1800 -0.240180
1900  0.119885
2000 -0.554605
2100 -0.916625
2200 -0.073065
2300 -0.035215
2400 -0.384948
2500 -0.009645
2600 -0.559828

In [ ]:
m